main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;

}

#quiz-window{
    margin: 0 auto;
    background-color: burlywood;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    text-align: center;
}

#question {
    margin-bottom: 20px;
}

#options {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color:rgb(212, 63, 63);
}

button:hover {
    background-color: #8f8d8d;
}

.countdown{
    border: 1px solid black;
        padding: 10px;
        font-size: 20px;
        text-align: center;
        width: 100px;
        margin-top: 20px;

}